@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  min-height: 100vh;
  background-color: #64748b;
  color: #d1d5db;
}
.router-link-active, .router-link-exact-active {
  @apply bg-gray-700
}